services:
  rust-miniflux2feishu:
    build: .
    image: rust-miniflux2feishu:latest
    container_name: rust-miniflux2feishu
    restart: unless-stopped
    ports:
      - "127.0.0.1:8083:8083"
    # 或者直接使用 env_file（推荐）
    env_file:
      - .env
    # Docker 日志轮转配置
    logging:
      driver: "local"
      options:
        max-size: "10m"
        mode: "non-blocking"
